<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<description>Spring入口配置</description>
	
	<context:property-placeholder location="classpath*:application.properties" />
	
	<bean class="fabos.framework.core.spring.SpringContextHolder" />
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<property name="validationMessageSource" ref="msgSource" />
		<property name="mappingLocations">
			<list>
				<value>classpath:validation/constraints/constraint.xml</value>
			</list>
		</property>
	</bean>

	<bean id="msgSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:validation/messages/message" />
		<property name="fileEncodings" value="utf-8" />
		<property name="cacheSeconds" value="-1" />
	</bean>
	
	<!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
	<context:component-scan base-package="cec.jiutian.mes" />
	
	<!-- <import resource="spring-mybatis.xml" /> -->
    <!-- <import resource="spring-redis.xml" /> -->
	<!-- <import resource="spring-resteasy.xml" /> -->
	<!-- <import resource="spring-kmodule.xml" /> -->
	
</beans>